/* ================================================================================================================================== */
/* ================================================================================================================================== */

/* ================================================================================================================================== */
/* ================================================================================================================================== */
/* ======================================================= MEDIAS QUERIES =========================================================== */
/* ================================================================================================================================== */
/* ================================================================================================================================== */

@media screen and (max-width: 370px) {
  .section1_menufr {
    top: 135px;
  }
  footer {
    margin-top: 135px;
  }
}
@media screen and (min-width: 450px) {
  footer {
    position: relative;
    bottom: -80px;
  }
  .section1_menufr {
    top: 245px;
  }
}
@media screen and (min-width: 768px) {
  footer {
    position: relative;
    bottom: -285px;
  }
  .section1_menufr {
    top: 450px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    position: relative;
    bottom: -535px;
  }
  .section1_menufr {
    top: 700px;
  }
}

/* ================================================================================================================================== */
/* ================================================================================================================================== */
